* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  background-color: #ac72bf;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #5d017d;
  display: flex;
  justify-content: center;
  padding: 10rem;
  border: 4px solid #fff;
  border-radius: 3rem;
  overflow: hidden;
  width: auto;
  height: auto;
}
#my-form {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
}
#my-form label {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#my-form input {
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  margin-bottom: 4rem;
  width: 30%;
}
#my-form button {
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #fff;
  color: #5d017d;
  cursor: pointer;
  width: 30%;
  width: 20rem;
}
#my-form button:hover {
  background-color: #ac72bf;
  color: #fff;
}
